In [1]:
# Create a list called 'farm' with the elements "pig", "cow", "chicken", "dog", "horse", "sheep".
farm = ["pig", "cow", "chicken", "dog", "horse", "sheep"]

In [4]:
# Write an if statement that prints the string "RWAR!" if the first element of farm is NOT "Godzilla".
if farm[0] != "Godzilla":
    print("RWAR")
# Write an else if statement that prints the string "SCREECH!" if the last element of farm is "Mothra".
elif farm[-1] == "Mothra":
    print("SCREECH")
# Else, print the string "This animal is neither Godzilla nor Mothra!".
else:
    print("this animal is neither godzilla or mothra")

RWAR

In [5]:
# Declare a variable named 'dog' with a string of "Spot".
dog = "Spot"
# Declare 3 variables `cat`, `city`, `car` without assigning them values.
cat = ""
city = ""
car = ""

In [6]:
# Assign the string "Farley" to `cat`.
# Assign the string "San Francisco" to `city`.
# Assign the string "Prius" to `car`.
cat = "Farley"
city = "San Francisco"
car = "Prius"

In [7]:
# Using string concatenation, print out the sentence "See Spot run!".
print(f"See {dog} run")

See Spot run

In [8]:
# Using string concatenation, print out the sentence "I drive Farley around San Francisco in my Prius".
print(f"I drive {cat} arounf {city} in my {car}")

I drive Farley arounf San Francisco in my Prius

In [9]:
# Declare a variable budget and assign it a value of 5000.
# Declare a variable rent_cost and assign it a value of 1500.
# Declare a variable utilities_cost and assign it a value of 150.
# Declare a variable food_cost and assign it a value of 250.
# Declare a variable transportation_cost and assign it a value of 350.
# Declare a variable computer_cost and assign it a value of 2000.
budget = 5000
rent_cost = 1500
utilities_cost = 150
food_cost = 250
transportation_cost = 350
computer_cost = 2000

In [10]:
# Declare a variable called total_cost that takes the sum of all costs above (excluding budget).
total_cost = budget + rent_cost + utilities_cost + food_cost + transportation_cost + computer_cost

In [11]:
# Write an if statement that checks whether the sum of all our costs is within the budget.
# If so, print "You're total cost is " concatentated with the `total_cost` variable.
# Else, print "You're over budget by " concatenated with the difference between `budget` and `total_cost`.
if total_cost < budget:
    print(f"Your total cost is {total_cost}")
else:
    print(f"Your over budget by {total_cost - budget}")

Your over budget by 4250

In [12]:
# Write an if statement that checks whether the rent_cost is larger than the sum of the `utilities_cost`, `food_cost`,
# and `transportation_cost`. If so, print a string that says "The rent is too damn high!".
# Else, print a string that says "Ahhh just right!"
if rent_cost > utilities_cost + food_cost + transportation_cost:
    print(f"The rent of {rent_cost} is too high!")
else:
    print(f"Ahh just right")

The rent of 1500 is too high!