In [1]:
# Declare an empty list named `our_list`.
our_list = []

In [4]:
# Use the `append` list function to append the number 1 into `our_list`.
our_list.append(1)

In [6]:
# Append the string "hello" into `our_list`.
# Append the boolean False into `our_list`.
# Append the number 84 into `our_list`.
# Append the string "world" into `our_list`
our_list.append("hello")
our_list.append(False)
our_list.append(84)
our_list.append("world")

In [7]:
# Print `our_list`
print(f"Our List: {our_list}")

Our List: [1, 1, 'hello', False, 84, 'world']

In [8]:
# Declare a variable named `one_to_ten` and assign it an list containing the numbers from 1 to 10.
one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Print the 4th element from `one_to_ten`.
# Print the 7th element from `one_to_ten`.
print(one_to_ten[3])
print(one_to_ten[6])

4
7

In [10]:
# We've declared this list for you
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]

In [11]:
# Iterate through the provided `num_list` and create an if-else statement to print every number greater than 50
for num in num_list:
    if num > 50:
        print(num)

65
94
299
51

In [16]:
# Iterate through the provided `num_list` and use the `index` function to print the index of the first occurrence of the number 11.
index = 0

for num in num_list:
    if num == 11:
        print(index)
    index += 1

6

In [17]:
# Iterate through the provided `num_list` and print the sum of all the numbers.
sum = 0

for num in num_list:
    sum += num
print(sum)

680

In [19]:
# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the numbers greater than 50.
sum_greater_50 = 0

for num in num_list:
    if num >= 50:
        sum_greater_50 += num
print(sum_greater_50)

509

In [21]:
# Iterate through the provided `num_list` and create an if-else statement to print the sum of all the even numbers.
sum_even = 0

for num in num_list:
    if num %2 == 0:
        sum_even += num
print(sum_even)

138

In [22]:
fruits = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]

In [24]:
# Iterate through the provided `fruits` list and print the number of times "Apple" appears in the list.
apple_qty = 0

for fruit in fruits:
    if fruit == "Apple":
        apple_qty += 1
print(apple_qty)

4

In [26]:
# Iterate through the provided `fruits` list and print the number of times "Peach" appears in the list.
peach_qty = 0

for fruit in fruits:
    if fruit == "Peach":
        peach_qty += 1
print(peach_qty)

2

In [28]:
# Iterate through the provided `fruits` list and print the number of fruits that start with "P" in the list.
fruits_start_p = 0

for fruit in fruits:
    if fruit[0] == "p" or fruit[0] == "P":
        fruits_start_p  += 1
        
print(fruits_start_p)

4

In [29]:
# Create a new empty list named `unique_fruits`.
unique_fruits = []

In [30]:
# Iterate through `fruits` and populate `unique_fruits` with only unique values from 
# `fruits`. Hint: try looking up "not in" conditionals for if statements

for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)

In [31]:
print(f"Unique Fruits: {unique_fruits}")

Unique Fruits: ['Apple', 'Orange', 'Banana', 'Pomelo', 'Kiwi', 'Peach', 'Grape', 'Tomato', 'Watermelon', 'Lemon', 'Apricot']

In [35]:
# In this challenge we're going to be working with nested lists.
# You can store any type of data within an list- even other lists!
two_dim_list = [
  [54, 6, 7, 46, 78],
  [43, 9, 6, 65, 65],
  [32, 1, 44, 1, 23],
  [55, 12, 2, 34, 2],
  [2, 12, 44, 2, 12]]

In [36]:
# Iterate through the first list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[0]:
    if num < 25:
        print(num)

6
7

In [37]:
# Iterate through the second list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[1]:
    if num < 25:
        print(num)

9
6

In [38]:
# Iterate through the fifth list inside `two_dim_list` and print all the numbers less than 25.
for num in two_dim_list[-1]:
    if num < 25:
        print(num)

2
12
2
12

In [40]:
# Iterate through `two_dim_list` and the lists inside of it and print all the odd numbers.
for one_dim_list in two_dim_list:
    for num in one_dim_list:
        if num % 2 != 0:
            print(num)

7
43
9
65
65
1
1
23
55

In [42]:
# Iterate through `two_dim_list` and the lists inside of it and print the sum of all the numbers that are a multiple of 3.
sum = 0

for one_dim_list in two_dim_list:
    for num in one_dim_list:
        if num % 3 == 0:
            sum += num
print(sum)

189