In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#Read in data of multiple csv's

#set path for each
fin_leaders_america_path = Path('fin_leaders_america.csv')
investors_leadership_path = Path('invstrs_leadership.csv')
fin_leaders_mem_path = Path('fin_leaders_members.csv')
investors_leadership_mem_path = Path('invstrs_leadership_members.csv')

#read each csv with pandas
fin_leaders_dues = pd.read_csv(fin_leaders_america_path)
investors_leadership_dues = pd.read_csv(investors_leadership_path)
fin_leaders_mbr_status = pd.read_csv(fin_leaders_mem_path)
investors_leadership_mbr_status = pd.read_csv(investors_leadership_mem_path)

In [6]:
#take a look at the csv's
#fin_leaders_dues.head()
#investors_leadership_dues.head()
#fin_leaders_mbr_status.head()
investors_leadership_mbr_status.head()

        MemberName MembershipStatus
0    Warren Buffet    Good Standing
1     Janet Yellen    Good Standing
2  Abigail Johnson    Good Standing
3       Larry Fink       Delinquent
4     Mario Draghi       Delinquent

In [8]:
#Concat dues data using rows axis and inner join
dues_df = pd.concat([fin_leaders_dues, investors_leadership_dues], axis="rows", join="inner")
dues_df.head()

        MemberName  DuesOwed  DuesPaid
0    Warren Buffet         0      2500
1     Janet Yellen       100      2400
2  Abigail Johnson         0      2500
3       Larry Fink      2500         0
0    Warren Buffet         0      2500

In [9]:
#Concat member data using rows axis and inner join
member_df = pd.concat([fin_leaders_mbr_status, investors_leadership_mbr_status], axis="rows", join="inner")
member_df.head()

        MemberName MembershipStatus
0    Warren Buffet    Good Standing
1     Janet Yellen    Good Standing
2  Abigail Johnson    Good Standing
3       Larry Fink       Delinquent
0    Warren Buffet    Good Standing

In [10]:
#Concat dues and member data using columns axis and inner join
combined_df = pd.concat([dues_df, member_df], axis="columns", join="inner")
combined_df

InvalidIndexError: Reindexing only valid with uniquely valued Index objects