In [1]:
import pandas as pd
from pathlib import Path

In [3]:
#Read CSV as Pandas DataFrame
csvpath = Path("goog_google_finance.csv")
goog_df = pd.read_csv(csvpath, index_col="Date", parse_dates=True, infer_datetime_format=True)
goog_df.head()

              Close
Date
2019-05-13  1132.03
2019-05-10  1164.27
2019-05-09  1162.38
2019-05-08  1166.27
2019-05-07  1174.10

In [4]:
# Check for nulls
goog_df.isnull().sum()

Close    0
dtype: int64

In [6]:
# Drop nulls
goog_df.dropna(inplace=True)
goog_df.isnull().sum()

Close    0
dtype: int64

In [7]:
# Drop duplicates
goog_df.drop_duplicates(inplace=True)

In [8]:
goog_df.index

DatetimeIndex(['2019-05-13', '2019-05-10', '2019-05-09', '2019-05-08',
               '2019-05-07', '2019-05-06', '2019-05-03', '2019-05-02',
               '2019-05-01', '2019-04-30', '2019-04-29', '2019-04-26',
               '2019-04-25', '2019-04-24', '2019-04-23', '2019-04-22',
               '2019-04-18', '2019-04-17', '2019-04-16', '2019-04-15',
               '2019-04-12', '2019-04-11', '2019-04-10', '2019-04-09',
               '2019-04-08', '2019-04-05', '2019-04-04', '2019-04-03',
               '2019-04-02', '2019-04-01', '2019-03-29', '2019-03-28',
               '2019-03-27', '2019-03-26', '2019-03-25', '2019-03-22',
               '2019-03-21', '2019-03-20', '2019-03-19', '2019-03-18',
               '2019-03-15', '2019-03-14', '2019-03-13', '2019-03-12',
               '2019-03-11', '2019-03-08', '2019-03-07', '2019-03-06',
               '2019-03-05', '2019-03-04', '2019-03-01', '2019-02-28',
               '2019-02-27', '2019-02-26', '2019-02-25', '2019-02-22',
               '2019-02-21', '2019-02-20', '2019-02-19', '2019-02-15',
               '2019-02-14', '2019-02-13', '2019-02-12', '2019-02-11'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [9]:
#Group by year and month
# Set multi-index by grouping
goog_grp = goog_df.groupby([goog_df.index.year, goog_df.index.month]).first()
goog_grp.head()

             Close
Date Date
2019 2     1119.92
     3     1173.31
     4     1188.48
     5     1132.03

In [10]:
# Select GOOG Close for May 2019
goog_may2019 = goog_grp.loc[2019, 5]
goog_may2019

Close    1132.03
Name: (2019, 5), dtype: float64

In [14]:
#Calculate mean Close Price of GOOG for 2019
goog_2019avg = goog_grp.loc[2019].mean()
goog_2019avg

Close    1153.435
dtype: float64