In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [7]:
#Read CSVs in as DataFrames
fb_path = Path("fb_data.csv")
fb_df = pd.read_csv(fb_path, index_col="date", parse_dates=True, infer_datetime_format=True)
twtr_path = Path("twtr_data.csv")
twtr_df = pd.read_csv(twtr_path, index_col="date", parse_dates=True, infer_datetime_format=True)
snap_path = Path("snap_data.csv")
snap_df = pd.read_csv(snap_path, index_col="date", parse_dates=True, infer_datetime_format=True)
sp500_path = Path("sp500_data.csv")
sp500_df = pd.read_csv(sp500_path, index_col="date", parse_dates=True, infer_datetime_format=True)
sp500_df

                  close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034
...                 ...
2019-05-13  2811.870117
2019-05-14  2834.409912
2019-05-15  2850.959961
2019-05-16  2876.320068
2019-05-17  2859.530029

[1258 rows x 1 columns]

In [11]:
#Combine DataFrames, Sort Index, and Rename Columns
combined_df = pd.concat([fb_df, twtr_df, snap_df, sp500_df], axis="columns", join="inner")
combined_df.columns = ["FB", "TWTR", "SNAP", "SP500"]
combined_df.head()

                FB   TWTR   SNAP        SP500
date
2019-05-17  185.30  37.50  11.49  2859.530029
2019-05-16  186.99  38.30  11.42  2876.320068
2019-05-15  186.27  37.90  10.66  2850.959961
2019-05-14  180.73  36.93  10.49  2834.409912
2019-05-13  181.54  36.59  10.11  2811.870117

In [12]:
#Calculate Daily Returns
daily_returns = combined_df.pct_change()
daily_returns.head()

                  FB      TWTR      SNAP     SP500
date
2019-05-17       NaN       NaN       NaN       NaN
2019-05-16  0.009120  0.021333 -0.006092  0.005872
2019-05-15 -0.003850 -0.010444 -0.066550 -0.008817
2019-05-14 -0.029742 -0.025594 -0.015947 -0.005805
2019-05-13  0.004482 -0.009207 -0.036225 -0.007952

In [15]:
#Calculate Covariance of Social Media Stock Returns vs. S&P 500 Returns
fb_cov = daily_returns["FB"].cov(daily_returns["SP500"])
twtr_cov = daily_returns["TWTR"].cov(daily_returns["SP500"])
snap_cov = daily_returns["SNAP"].cov(daily_returns["SP500"])

snap_cov

8.143752411104527e-05

In [16]:
#Calculate Variance of S&P 500 Returns
var = daily_returns["SP500"].var()
var

7.065620867765686e-05

In [18]:
#Calculate Beta Values of Social Media Stocks
fb_beta = round(fb_cov/var, 2)
twtr_beta = twtr_cov/var
snap_beta = snap_cov/var

print(f"The beta of social media stocks is: FB:{fb_beta} | TWTR:{twtr_beta} | SNAP:{snap_beta}")

The beta of social media stocks is: FB:1.28 | TWTR:1.519359198772949 | SNAP:1.1525883660496734