In [4]:
# Initialize a dictionary of banks and market caps (in billions)
banks = {
    "JP Morgan Chase": 327,
    "Bank of America": 302,
    "Citigroup": 173,
    "Wells Fargo": 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "U.S. Bancorp": 83,
    "TD Bank": 108,
    "PNC Financial Services": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "First Hawaiian Bank": 3,
    "Ally Financial": 12,
    "Wachovia": 145,
    "Republic Bancorp": .97
}

In [5]:
#Change the market cap for Citigroup to 170.
banks["Citigroup"] = 170

In [6]:
#Add a new bank American Express to the dictionary and set the market cap to 33.
banks["American Express"] = 33

In [7]:
#Delete Wachovia from the dictionary
del banks["Wachovia"]

In [8]:
# Iterate over the key-value pairs in banks dictionary and calculate the following:

# Total market capitalization
# Total number of banks
# Average market capitalization
# Largest bank
# Smallest bank

#initilize metrics -- dictionary so min/max key/value
total = 0
count = 0

minimum_key = ""
minimum_value = 0
maximum_key = ""
maximum_value = 0
average = 0

# Initialize market cap lists
mega_caps = []
large_caps = []
mid_caps = []
small_caps = []

In [9]:
#for loop to iterate through dictionary, 1st counter and total increment
#both key and value so .items

for bank_name, market_cap in banks.items():
    count +=1
    total += int(market_cap)

#logic for min value and associated key
    if minimum_value == 0:
        minimum_value = market_cap
        minimum_key = bank_name
    elif market_cap < minimum_value:
        minimum_value = market_cap
        minimum_key = bank_name
    
# Logic to determine max value and associated key    
    if market_cap > maximum_value:
        maximum_value = market_cap
        maximum_key = bank_name
        
# Group banks by categories of market caps
    if market_cap >= 300:
        mega_caps.append(bank_name)
    elif market_cap >= 10 and market_cap < 300:
        large_caps.append(bank_name)
    elif market_cap >= 2 and market_cap < 10:
        mid_caps.append(bank_name)
    elif market_cap < 2:
        small_caps.append(bank_name)

In [10]:
# Calculate average market cap of banks in the dictionary
average = round(total/count, 2)

In [12]:
# Print the metrics
print(f"Total Market Capitalization: {total}")
print(f"Total Numer of Banks: {count}")
print(f"Average Market Capitalization: {average}")
print(f"Largest Bank: {maximum_key}")
print(f"Smallest Bank: {minimum_key}")
print("------------------------------------------------")
print(f"Mega Cap Banks: {mega_caps}")
print(f"Large Cap Banks: {large_caps}")
print(f"Mid Cap Banks: {mid_caps}")
print(f"Small Cap Banks: {small_caps}")
print()

Total Market Capitalization: 1588
Total Numer of Banks: 15
Average Market Capitalization: 105.87
Largest Bank: JP Morgan Chase
Smallest Bank: Republic Bancorp
------------------------------------------------
Mega Cap Banks: ['JP Morgan Chase', 'Bank of America']
Large Cap Banks: ['Citigroup', 'Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'Ally Financial', 'American Express']
Mid Cap Banks: ['FNB Corporation', 'First Hawaiian Bank']
Small Cap Banks: ['Republic Bancorp']