In [1]:
# Create a variable named `subject` with no value (None).
subject = None
# Assign a value of "Programmers to the variable `subject`.
subject = "Programmers"

In [2]:
# Create a variable, `first_name`, and assign it a value of an empty string.
first_name = ""

In [3]:
# Assign a value of "Ada" to the variable `first_name`.
first_name = "Ada"

In [4]:
# Create a variable, `last_name`, and assign it a value of a string, "Lovelace".
last_name = "Lovelace"

In [5]:
# Create a variable, `full_name`, and assign it a value of the combination of `first_name` and `last_name` with a space.
full_name = f"{first_name} {last_name}"

In [6]:
# Create a variable, `profession`, and assign it a value of a string, "Computer Programmer".
profession = "computer programmer"

In [7]:
# Create a variable, `known_for`, and assign it a value of a string, "First Computer Programmer".
known_for = "first computer programmer"

In [8]:
# Create a variable, `first_algorithm`, and assign it a value of a string, "Analytical Engine".
first_algorithim = "analytical engine"

In [9]:
# Create a variable, `city_location`, and assign it a value of a string, "London".
city_location = "London"

In [10]:
# Create a variable, `country_location`, and assign it a value of a string, "England".
country_location = "england"

In [11]:
# Create a variable, `nationality`, and assign it a value of a string, "British".
nationality = "british"

In [12]:
# Create a variable, `birth_year`, and assign it with an integer of 1815.
birth_year = 1815

In [13]:
# Create a variable, death_year, and assign it with an integer of 1852.
death_year = 1852

In [14]:
# Create a variable, age_at_passing, and assign it a value of death_year minus birth_year.
age_at_passing = death_year - birth_year

In [15]:
# Create a variable, year_of_publish, and assign it with an integer of 1842.
year_of_publish = 1842

In [16]:
# Print: "First Name: " and `first_name`.
print(f"First Name: {first_name}")

First Name: Ada

In [17]:
# Print: "Last Name: " and `last_name`.
print(f"Last Name: {last_name}")

Last Name: Lovelace

In [18]:
# Print: "Profession: " and `profession`.
print(f"Profession: {profession}")

Profession: computer programmer

In [19]:
# Print: "BirthYear: " and `birth_year`.
print(f"Birthyear: {birth_year}")

Birthyear: 1815

In [20]:
# Create and print a variable, `statement_one`, by assigning it a value of a string:
# "Programmers: Ada Lovelace is a British Computer Programmer born in 1815."
statement_one = f"{subject}: {first_name} {last_name} is a {profession} born in {birth_year}"
print(statement_one)

Programmers: Ada Lovelace is a computer programmer born in 1815

In [22]:
# Create and print a variable, `statement_two`, by assigning it a value of a string:
# "She is commonly referred to as the First Computer Programmer."
statement_two = f"She is commonly reffered to as the {known_for}"
print(statement_two)

She is commonly reffered to as the first computer programmer

In [23]:
# Create and print a variable, `statement_three`, by assigning it a value of a string:
# "In 1842 she published the first Algorithm, the Analytical Engine, at the age of 27."
statement_three = f"In {year_of_publish} she published the first algorithim {first_algorithim} at the age of 27"
print(statement_three)

In 1842 she published the first algorithim analytical engine at the age of 27

In [24]:
# Create and print a variable, `statement_four`, by assigning it a value of a string:
# "She was a British Citizen who lived in London, England until her passing in 1852 at the age of 37."
statement_four = f"She was a {nationality} citizen who lived in {city_location}, {country_location} until her passing in {death_year} at the age of {age_at_passing}"
print(statement_four)

She was a british citizen who lived in London, england until her passing in 1852 at the age of 37